* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
    display: flex;
    justify-content: center;
}

.grid-container {
    height: 640px;
    width: 640px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    
}

.grid-item {
    align-items: center;
    border: 1px solid;
    height: 80px;
    width: 80px;
}

.black-item {
    background-color: rgb(90, 89, 89);
}

.white-item {
    background-color: rgb(177, 199, 183);
}

img {
    height: 100%;
    width: 100%;
    background-color: transparent;
}
